body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9ecec;
}

.first-color {
  background: #f9ecec;
}

.second-color {
  background: #f0d9da;
}

.third-color {
  background: #c8d9eb;
}

.fourth-color {
  background: #ecf2f9;
}

.container {
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

button,
input {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}